
        <mat-card>
            <div class="p-20 bg-info position-relative">
                <h4 class="card-title text-white m-0">Tareas</h4>
                <h6 class="card-subtitle text-white m-0 op-5">Estas son las tareas publicadas para $Tu empresa</h6>
            </div>
            
            <mat-tab-group>
                <!-- Tab 1 -->
                <mat-tab label="Todas las tareas">
                    <mat-card-content>
                        <div class="d-flex no-blcok" *ngFor="let item of taskList ; let i = index">
                            <div class="m-r-20">
                                <img class="img-circle" width="50" src="assets/images/users/1.jpg" alt="Image"> </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">{{item.title | titlecase}}</h4>
                                <p >Asignada a: <span class="text-muted"> Nombre de persona</span></p>
                                <p >Fecha de entrega: <span class="text-muted"> {{item.timestamp.toDate() | date }}</span></p>
                                <button mat-raised-button color="primary" (click)="viewAnnouncementBody(item, i)">ver detalles</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <!-- end tab 1 -->
                <!-- tab 2 -->
                <mat-tab label="Asignadas a mi">
                    <mat-card-content>
                        <div class="d-flex no-blcok" *ngFor="let item of taskListPersonal ; let i = index">
                            <div class="m-r-20">
                                <img class="img-circle" width="50" src="assets/images/users/1.jpg" alt="Image"> </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">{{item.title}}</h4>
                                <p >Fecha de entrega: <span class="text-muted"> {{item.timestamp.toDate() | date }}</span></p>
                                <button mat-button (click)="viewAnnouncementBody(item, i)">ver detalles</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <!-- end tab 2 -->
                <!-- Tab 3 -->
                <mat-tab label="Crear tarea">
                    <mat-card-content>
                        <mat-card-title>Crear Tarea</mat-card-title>
                        <!-- ============================================================== -->
                        <!-- column -->
                        <!-- ============================================================== -->
                        <form class="basic-form" [formGroup]="taskForm" (ngSubmit)="createAnnouncement()">
                            <div fxLayout="row wrap">
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input formControlName="title" matInput placeholder="Título">
                                    </mat-form-field>
                                </div>
                                <!-- column -->

                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <textarea formControlName="details" cols="1" rows="10"  matInput placeholder="Cuerpo del anuncio"></textarea>
                                    </mat-form-field>
                                </div>

                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha de entrega</mat-label>
                                    <input matInput [matDatepicker]="picker1" formControlName="date">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Asignar a</mat-label>
                                    <mat-select formControlName="assigned">
                                      <mat-option *ngFor="let e of employeesList" [value]="e.userId">{{e.name}} {{e.lastname}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <button mat-raised-button [disabled]="taskForm.invalid" color="primary" type="submit">Publicar</button>
                                </div>
                            </div>
                        </form>
                        
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    <!-- </div> -->