
       
        <!-- <button mat-raised-button style="margin-left: auto;" color="primary" type="submit">hola</button> -->

        <div style="display: flex;">
        <!-- left Side -->
        <mat-card style="width: 35%; height: 100% ;">
            <div class="p-20 create_task">
                <h4 class="card-title font-16 m-0">Tareas</h4>
                <button mat-raised-button color="primary" (click)="createTask()">
                    <span class="material-icons">add</span>
                    Agregar Tarea
                </button>
            </div>
            
            <mat-tab-group mat-align-tabs="center">
                <!-- Tab 1 -->
                <mat-tab label="Mis Tareas">
                    <mat-card-content>
                        <div class="d-flex no-blcok" *ngFor="let item of taskListPersonal ; let i = index" (click)="viewTaskBody(item, i)">
                            <div class="m-r-20">
                                <span class="material-icons">work</span>
                                <!-- <img class="img-circle" width="50" src="assets/images/users/1.jpg" alt="Image">-->
                            </div> 
                             <div class="p-b-5 b-b m-b-10">
                                <h4 class="m-0 font-medium font-14">{{item.title | titlecase}}</h4>
                                <p class="m-0 font-12" >Fecha de entrega: <span class="text-muted"> {{item.timestamp | date }}</span></p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <!--End Tab 1 -->

                <!-- Tab 2 -->
                <mat-tab label="Todas las tareas">
                    <mat-card-content>
                        <div class="d-flex no-blcok" *ngFor="let item of taskList ; let i = index" (click)="viewTaskBody(item,i)">
                            <div class="m-r-20">
                                <span class="material-icons">
                                    work
                                    </span>
                                <!-- <img class="img-circle" width="50" src="assets/images/users/1.jpg" alt="Image">-->
                             </div> 
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0 font-medium font-14">{{item.title | titlecase}}</h4>
                                <p class="m-0 font-12">Asignada a: <span class="text-muted"> {{item.assignedTo}}</span></p>
                                <p class="m-0 font-12" >Fecha de entrega: <span class="text-muted"> {{item.timestamp | date }}</span></p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
               <!--End Tab 2 -->
                
            </mat-tab-group>
        </mat-card>
        <!-- End of left Side -->
        
        <mat-card style="width: 63%;height: 100%;padding: 25px !important;" *ngIf="showTask">
            
            <mat-form-field style="font-size: 16px; " class="font-medium">
                <input type="text" placeholder="Título" matInput [(ngModel)]="currentTask.title" [readonly]="!editing">
            </mat-form-field>
    
            <mat-form-field>
                <textarea cols="1" rows="5" placeholder="Detalles de la Tarea" matInput [(ngModel)]="currentTask.body" [readonly]="!editing"></textarea>
            </mat-form-field>
    
            <mat-form-field *ngIf="!editing">
                <input type="text" placeholder="fecha de entrega" matInput [(ngModel)]="currentTask.timestamp" readonly>
            </mat-form-field>

            <div class="d-flex">
                <mat-form-field *ngIf="!editing">
                    <input type="text" placeholder="asignado a" matInput [(ngModel)]="currentTask.assignedTo" readonly>
                </mat-form-field>
    
                <mat-form-field *ngIf="!editing">
                    <input type="text" placeholder="asignado por" matInput [(ngModel)]="currentTask.assignedBy" readonly>
                </mat-form-field>
            </div>
            

            <mat-form-field appearance="fill" *ngIf="editing">
                <mat-label>Fecha de entrega</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="currentTask.timestamp">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngIf="editing">
                <mat-label>Asignar a</mat-label>
                <mat-select [(ngModel)]="currentTask.assignedTo">
                    <mat-option *ngFor="let empl of employeesList" [value]="empl">{{empl}}</mat-option>
                </mat-select>
            </mat-form-field>

            <ng-container  *ngIf= "fileData && fileData.contentType === 'image'">
                <span class="m-r-10 font-12"> Esta tarea contiene una imagen: </span>
                <button 
                    mat-button 
                    mat-stroked-button                   
                    color="accent" 
                    (click)="downloadImage(fileData.url)">
                    <span class="material-icons">cloud_download</span>
                    Descargar Imagen
                </button>
            </ng-container>
        <ng-container  *ngIf= "fileData && fileData.contentType === 'file'">
            <span class="m-r-10 font-12"> Esta tarea contiene un archivo: </span>
            <button 
                mat-button 
                mat-stroked-button
                
                color="accent" 
                (click)="downloadFile(fileData.url)">
                <span class="material-icons">cloud_download</span>
                Descargar Archivo
            </button>
        </ng-container>

            <mat-card class="comment-box">
                <span class="font-medium">Comentarios:</span>
                <mat-list>
                 <div *ngFor="let comments of taskComments">
                    <div class="p-10">                                                
                            <span class="d-flex m-r-10" style="align-items:center"> 
                                <i class="material-icons">account_circle</i>
                                {{comments.name}} {{comments.lastname}}
                            </span>   
                            <div>
                                <p style="white-space: initial;">{{comments.text}}</p>
                            </div>
                            <div class="d-flex" style="justify-content: flex-end;">
                                <button 
                                    mat-button 
                                    mat-stroked-button
                                    *ngIf= "comments.file === true"
                                    color="accent" 
                                    (click)="downloadFileComment(comments)">
                                    <span class="material-icons">cloud_download</span>
                                    Descargar Archivo
                                </button>
                                <p *ngIf="comments.fileName" style="margin: 7px;">{{comments.fileName}}</p>
                            </div>
                        <!-- <img class="img-circle" width="50" src="assets/images/users/1.jpg" alt="Image">-->
                     </div>
                       <mat-divider></mat-divider>
                    </div>
                </mat-list>
                  
            </mat-card>
            <mat-form-field>
                <textarea cols="1" rows="3" placeholder="Escribe tu comentario..." (keydown.enter)="sendMessage()" matInput [(ngModel)]="commentText" [readonly]="isReadOnly"></textarea>
                <!-- aqui button -->
                <div>
                    <button mat-raised-button color="primary"  (keydown.enter)="sendMessage()">
                        <span class="material-icons">send</span>enviar
                    </button>    
                    <button mat-button mat-stroked-button style="margin-left: 5px;" style=" margin-left: 5px;" (click)="fileInput.click()">
                        <i class="material-icons">publish</i>
                        Importar archivo
                    </button>
                    <p *ngIf="fileDataComment">{{fileDataComment.name}}</p>
                    <input
                        hidden
                        #fileInput  
                        type="file"  
                        (change)="addfile($event)" 
                        placeholder="Upload file" 
                        accept="media_type"> 
                </div>
            </mat-form-field>
            <!-- <span>Archivo: acta_de_constitución.pdf(1) </span> -->
            <mat-card-actions>    
                <button mat-stroked-button mat-flat-button  (click)="allowEdition()" *ngIf="!editing">Editar Tarea</button>
                <button mat-stroked-button color="warn" (click)="deleteTask()" *ngIf="!editing">Eliminar Tarea</button>
                <button mat-stroked-button mat-flat-button color="primary" (click)="finishTask()" *ngIf="!editing">Finalizar Tarea</button>
                <button mat-button mat-flat-button color="primary" (click)="finishEditing()" *ngIf="editing">Confirmar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <!-- </div> -->