<!-- left side menu -->
<mat-sidenav-container class="chat-sidebar-container">
  
    <mat-sidenav opened mode="side" style="width: auto;max-width: 50%; background-color: #EBF2F6;">
        <mat-card *ngIf="!showTicket && !showDetail">
   
            <div class="p-20  position-relative" style="display: flex; justify-content: space-between; flex-direction: row;">
                <h4 class="card-title  m-0 font-20 font-medium">Chats cerrados</h4>
                
            </div>
            <div style="display: flex; justify-content: center;">
                <button 
                mat-raised-button 
                color="primary" 
                (click)="goToOpenChats()"
                aria-label="dd tags button">
                Ver chats abiertos
            </button>
            </div>
            <mat-tab-group  mat-align-tabs="center"> 
                <mat-tab label="Todos los chats">
                    <div class="date-filter">
                        <button id="main-filter" mat-raised-button [matMenuTriggerFor]="menu" color="accent">Filtro</button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="changeFilter(1)">Filtro por fecha</button>
                            <button mat-menu-item (click)="changeFilter(2)">Filtro por número de ticket</button>
                        </mat-menu>
                        <!-- filtro por fecha -->
                        <div id="container-date__filter" style="text-align: center; padding: 10px;" *ngIf="showDateFilter">
                            <mat-form-field>
                                <input matInput
                                    placeholder="Escoge las fechas para ver resultados"
                                    [satDatepicker]="picker"
                                    [(ngModel)]="datePick"
                                    (focus)="picker.open()"
                                    readonly>
                                <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
                                <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
                            </mat-form-field>
                            <button mat-raised-button color="accent" (click)="dateFilter()">Aceptar</button>
                        </div>
                        <div id="container-string__filter" *ngIf="showStringFilter">
                            <mat-form-field id="container-date__filter">
                                <input matInput placeholder="# de Ticket" (keyup)="applyStringFilter($event.target.value)">
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-selection-list [multiple]="false">
                        <ng-container *ngFor="let chat of chatWhatsapp; index as i" >
                            <mat-list-option 
                                aria-selected="true"
                                *ngIf="!chat.finished"
                                (mouseenter)="showDates(chat)" 
                                (mouseleave)="hideDates(chat)"  
                                (click)="getMessagesFromChatOnclick(chat, false)">
                                <mat-list-item style="font-size: 12 !important;" >
                                    <div id="new-message__point" *ngIf="chat.unseen"></div>
                                    <h3 
                                        [ngStyle]="{'font-weight': chat.unseen ? 'bold' : '300' }" 
                                        *ngIf="chat.chatName === undefined">
                                        {{chat.number | slice:9}} 
                                    </h3>
                                    <h3 [ngStyle]="{'font-weight': chat.unseen ? 'bold' : '300' }">
                                        {{chat.chatName }} 
                                    </h3>  
                                    <mat-chip-list  style="margin-left: auto;" >
                                        <mat-chip style="background-color: #44DB5E" class="chip" selected *ngIf="!chat.finished">abierto</mat-chip>
                                    </mat-chip-list>
                                </mat-list-item>
                                <span style="font-size: 10px; padding-left:16px; padding-top: 0; padding-bottom: 0;" *ngIf="showDate && date === chat.timestamp">
                                    {{date.toDate() | date:'medium' }}   
                                </span>
                            </mat-list-option>
                        </ng-container>
                        <ng-container *ngFor="let chat of chatWhatsapp; index as i" >
                            <mat-list-option 
                                *ngIf="chat.finished" 
                                (mouseenter)="showDates(chat)" 
                                (mouseleave)="hideDates(chat)" 
                                (click)="getMessagesFromChatOnclick(chat, false)">
                                <mat-list-item style="font-size: 12 !important;">
                                    <h3 
                                        [ngStyle]="{'font-weight': chat.unseen ? 'bold' : '300' }"
                                        *ngIf="chat.chatName === undefined">
                                        {{chat.number | slice:9}} 
                                    </h3>
                                    <h3 [ngStyle]="{'font-weight': chat.unseen ? 'bold' : '300' }">{{ chat.chatName }}</h3>
                                    <mat-chip-list  style="margin-left: auto;" >
                                        <mat-chip style="background-color: rgb(248, 47, 64)" class="chip" selected *ngIf="chat.finished">cerrado</mat-chip>
                                    </mat-chip-list>
                                </mat-list-item>
                                <span style="font-size: 10px; padding-left:16px; padding-top: 0; padding-bottom: 0;" *ngIf="showDate && date === chat.timestamp">
                                    {{date.toDate() | date:'medium' }}   
                                </span>
                            </mat-list-option>
                        </ng-container>
                    </mat-selection-list>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </mat-sidenav>
    <!-- CENTER PART -->
    <mat-sidenav-content opened mode="side" position="end">

        <!-- GENERAL CHATS -->
    <mat-card *ngIf="showGeneralChat" id="content-messages" style="max-height: 75%;min-height:75% ; overflow-y: auto;">
        <mat-toolbar  class="background-room" style=" background-color: #2C3B4D !important;">
            <span class="toolbar-msg"  ># {{currentChatData.phoneNumber | slice:9}}</span>
            <mat-chip-list>
                <mat-chip *ngFor="let agent of currentChatData.assignTo">{{agent.name}} {{agent.lastname ? agent.lastname : ''}}</mat-chip>
                <mat-chip 
                    class="record-agent" 
                    matTooltip="Este agente estuvo asignado a este chat en algún punto"
                    *ngFor="let agent of currentChatData.recordAssignTo">
                    {{agent.name}} {{agent.lastname ? agent.lastname : ''}}
                </mat-chip>
            </mat-chip-list>
            <button *ngIf="currentChatData.finished" mat-raised-button class="m-r-5" [matMenuTriggerFor]="templatesClose">Enviar Template</button>     
        </mat-toolbar>
        <mat-menu #templatesClose="matMenu" class="mymegamenu" style="overflow-y: auto;">
            <button mat-menu-item *ngFor="let t of templatesArray" (click)="templateSelectedClose(t)">
                {{t}}
            </button>
        </mat-menu>
        <mat-card-content class="backgroun-img" style="overflow-y: visible; height: 75%;">
            <div class="chat"  *ngFor="let message of chatMessages" >
                <div class="me" *ngIf="message.inbound === false">          
                    <span style="word-wrap: break-word;">{{message.message}} </span> 
                    <p class="time-left" *ngIf="message.timestamp">{{message.timestamp.toDate() | date: 'EEEE, MMMM d, y, h:mm:ss a'}}</p>
                    <div *ngIf="message.MediaContentType === 'image'" style="margin-top: 10px;" (click)="displayImage(message.mediaUrl)">
                        <img 
                            [src]="message.mediaUrl" 
                            style="width: 100%; max-width: 200px; height: 100%; max-height: 200px;">   
                    </div>   
                    <div *ngIf="message.MediaContentType === 'file'" style="margin-top: 10px;" (click)="displayImage(message.mediaUrl)">
                        <a mat-stroked-button href="{{message.mediaUrl}}" target="_blank">Ver Archivo</a>   
                    </div>  
                </div>
                <div class="otherMessage" *ngIf="message.inbound === true">
                    <span class="name">
                        Cliente
                    </span> <br>
                    <span style="word-wrap: break-word;">{{message.message}}</span>
                    <p class="time-left" *ngIf="message.timestamp">{{message.timestamp.toDate() | date: 'EEEE, MMMM d, y, h:mm:ss a'}}</p>
                    <div *ngIf="message.MediaContentType === 'image'" style="margin-top: 10px;" (click)="displayImage(message.mediaUrl)">
                        <img 
                            [src]="message.mediaUrl" 
                            style="width: 100%; max-width: 200px; height: 100%; max-height: 200px;">   
                    </div>   
                    <div *ngIf="message.MediaContentType === 'file'" style="margin-top: 10px;" (click)="displayImage(message.mediaUrl)">
                        <a mat-stroked-button href="{{message.mediaUrl}}" target="_blank">Ver Archivo</a>   
                    </div> 
                </div>
            </div>  
        
            <!-- if no messages show this card -->
            <div *ngIf="chatMessages.length === 0">
                <mat-card class="message-card">
                    <mat-card-content>
                        <p>
                        Aún no hay mensajes en esta sala
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
        <footer>
            <mat-spinner *ngIf="showSpinner"></mat-spinner>
            <mat-form-field style="background-color: white; border-top: gray; padding-left: 20px;max-width: 720px; " >
                <input *ngIf="currentChatData.finished" matInput value="Este chat fue cerrado, envía un template para reanudar la conversación" readonly>
            </mat-form-field>
        </footer>
    </mat-card>
</mat-sidenav-content>
</mat-sidenav-container>