<mat-card class="card-comp" *ngIf="!spinner">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Crea un nuevo proyecto
            </mat-panel-title>
            <mat-panel-description>
                Crea un espacio de trabajo para tu proyecto
            </mat-panel-description>
            </mat-expansion-panel-header>
            <!--  -->
            <div class="form-comp">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre del proyecto</mat-label>
                    <input matInput [(ngModel)]="companyName">
                </mat-form-field>
                
                <button mat-raised-button color="primary" (click)="createCompany()">Crear</button>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Ingresa a un proyecto existente
            </mat-panel-title>
            <mat-panel-description>
                Si tienes código de invitación, debes ingresarlo en este espacio
            </mat-panel-description>
            </mat-expansion-panel-header>
            <!--  -->
            <div class="form-comp">
                <mat-form-field appearance="fill">
                    <mat-label>Código de invitación</mat-label>
                    <input matInput [(ngModel)]="inviteCode">
                </mat-form-field>
                
                <button mat-raised-button color="primary" (click)="userInvite()">Confirmar</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
<h3 *ngIf="codeError" style="color: red; text-align: center;">{{errorMessage}}</h3>
<div *ngIf="spinner" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <mat-spinner></mat-spinner>
    <h3 style="color: #3197F3;">Creando Proyecto...</h3>
</div>