
<mat-tab-group mat-align-tabs="center" (selectedTabChange)="showOrdersInTable($event)">
  <mat-tab label="Pendientes" >
    <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
            <mat-card-content>
              <mat-card-title >Pedidos pendientes: {{dataSource.length}} </mat-card-title>
                        <!--
   1)- Add an ID here
 -->

 
 <!--
   2)- Add the directive name in your button (ngxPrint),
   3)- Affect your ID to printSectionId
 -->
<button #printButton printTitle="Print Title" printSectionId="print-section" ngxPrint>print</button> 
 
              <div class=" p-10 p-r-20 p-l-20">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca tu pedido">
                </mat-form-field>
              </div>
              
              <div class="responsive-table">
                <mat-table *ngIf="dataSource.length != 0" #table [dataSource]="dataSource">
                  <!-- Position Column -->
                  <ng-container matColumnDef="orderId">
                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="details(element)"> {{element.orderId}} </mat-cell>
                  </ng-container>
      
                 
      
                  <!-- Weight Column -->
                  <ng-container matColumnDef="deliverMode">
                    <mat-header-cell *matHeaderCellDef> Modo </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="details(element)"> {{element.deliverMode}} </mat-cell>
                  </ng-container>
      
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="timestamp">
                    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="details(element)"> {{element.timestamp.toDate() | date: 'EEEE, MMMM d, h:mm a'}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <div style="display: none;" id="print-section"> 
                        <!--Your html stuff that you want to print-->
                        <div class="header">...</div>
                        <h1>{{element.orderId}}</h1>
                        <mat-card-subtitle>{{element.timestamp.toDate() | date: 'EEEE, MMMM d, y, h:mm:ss a'}}</mat-card-subtitle>

                        <div class="content">
                          <p class="title">
                            <strong>Detalles del pedido:</strong> 
                          </p>
                          <p >{{element.deliverMode}}</p> 
      
                            <p *ngFor="let element of element.order">{{element}}</p> 
                            <p class="title">
                              <strong>Comentarios</strong> 
                            </p>
                              <p >{{element.comments}}</p> 
                              <div class="paragraph">
                                <p class="title">
                                  <strong>Método de pago</strong> 
                                </p>
                                  <p >{{element.paymentMethod}}</p> 
                                  
                              </div>
                        </div>

                        <div class="footer">
                          Cliente: {{element.clientName}}
                        </div>
                      </div>
                      <button (click)="printButton.click(element)" mat-icon-button  aria-label="Example icon button with a home icon">
                      <mat-icon>print</mat-icon>
                    </button>
                    <button (click)="prepareOrder(element)" mat-icon-button color="green" aria-label="Example icon button with a home icon">
                      <mat-icon>check_circle</mat-icon>
                    </button></mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  </mat-tab>
  <!-- new Tab -->
  <mat-tab label="En preparación">
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
          <mat-card-content>
            <mat-card-title>Pedidos en preparación: {{dataSource.length}}</mat-card-title>
            <div class=" p-10 p-r-20 p-l-20">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca tu pedido en preparación">
              </mat-form-field>
            </div>
            
            <div class="responsive-table">
              <mat-table #table [dataSource]="dataSource">
                <!-- Position Column -->
                  <ng-container matColumnDef="orderId">
                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="details(element)"> {{element.orderId}} </mat-cell>
                  </ng-container>
      
                 
      
                  <!-- Weight Column -->
                  <ng-container matColumnDef="deliverMode">
                    <mat-header-cell *matHeaderCellDef> Modo </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="details(element)"> {{element.deliverMode}} </mat-cell>
                  </ng-container>
      
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="timestamp">
                    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="details(element)"> {{element.timestamp}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <button mat-icon-button  aria-label="Example icon button with a home icon">
                      <mat-icon>print</mat-icon>
                    </button>
                    <button (click)="prepareOrder(element)" mat-icon-button color="green" aria-label="Example icon button with a home icon">
                      <mat-icon>check_circle</mat-icon>
                    </button></mat-cell>
                  </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <!-- new Tap -->
  <mat-tab label="Despachados">
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
            <mat-card-content>
              <mat-card-title>Pedidos despachados: {{dataSource.length}}</mat-card-title>
              <div class=" p-10 p-r-20 p-l-20">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca tu pedido despachado">
                </mat-form-field>
              </div>
              
              <div class="responsive-table">
                <mat-table #table [dataSource]="dataSource">
                  <!-- Position Column -->
                    <ng-container matColumnDef="orderId">
                      <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                      <mat-cell *matCellDef="let element" (click)="details(element)"> {{element.orderId}} </mat-cell>
                    </ng-container>
        
                   
        
                    <!-- Weight Column -->
                    <ng-container matColumnDef="deliverMode">
                      <mat-header-cell *matHeaderCellDef> Modo </mat-header-cell>
                      <mat-cell *matCellDef="let element" (click)="details(element)"> {{element.deliverMode}} </mat-cell>
                    </ng-container>
        
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="timestamp">
                      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                      <mat-cell *matCellDef="let element" (click)="details(element)"> {{element.timestamp}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <button mat-icon-button  aria-label="Example icon button with a home icon">
                        <mat-icon>print</mat-icon>
                      </button>
                      <button (click)="prepareOrder(element)" mat-icon-button color="green" aria-label="Example icon button with a home icon">
                        <mat-icon>check_circle</mat-icon>
                      </button></mat-cell>
                    </ng-container>
                  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
              </div>
            </mat-card-content>
            
          </mat-card>
        </div>
      </div>
    </mat-tab>
</mat-tab-group>

