.header {
    position: fixed;
    top: 0;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
  .example-tab-icon {
    margin-right: 8px;
  }
  .prepare-button{
    background-color: rgb(14, 216, 14);
    color: white;
  }
  .confirm-button{
    background-color: orangered;
    color: white;

  }
 