
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Pendientes">
    <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
            <mat-card-content>
              <mat-card-title >Pedidos pendientes: </mat-card-title>
              <div class=" p-10 p-r-20 p-l-20">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca tu pedido">
                </mat-form-field>
              </div>
              
              <div class="responsive-table">
                <mat-table #table [dataSource]="dataSource">

                  <ng-container matColumnDef="orderId">
                    <mat-header-cell *matHeaderCellDef> # de pedido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.orderId}} </mat-cell>
                  </ng-container>
      

                  <ng-container matColumnDef="deliverMode">
                    <mat-header-cell *matHeaderCellDef> Modo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.deliverMode}} </mat-cell>
                  </ng-container>
      

                  <ng-container matColumnDef="timestamp">
                    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.timestamp.toDate() | date: 'short'}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <button mat-icon-button >
                      <mat-icon>print</mat-icon>
                    </button>
                    <button (click)="prepareOrder(element)" mat-icon-button color="green">
                      <mat-icon>check_circle</mat-icon>
                    </button></mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="details(row)"></mat-row>
                </mat-table>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  </mat-tab>
  <!-- new Tab -->
  <mat-tab label="En preparación">
    <div fxLayout="row wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
          <mat-card-content>
            <mat-card-title>Pedidos en preparación</mat-card-title>
            <div class=" p-10 p-r-20 p-l-20">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca tu pedido en preparación">
              </mat-form-field>
            </div>
            
            <div class="responsive-table">
              <mat-table #table [dataSource]="dataSource">

                  <ng-container matColumnDef="orderId">
                    <mat-header-cell *matHeaderCellDef> # de pedido </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.orderId}} </mat-cell>
                  </ng-container>
      

                  <ng-container matColumnDef="deliverMode">
                    <mat-header-cell *matHeaderCellDef> Modo </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.deliverMode}} </mat-cell>
                  </ng-container>
      

                  <ng-container matColumnDef="timestamp">
                    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.timestamp.toDate() | date: 'short'}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                      <button mat-icon-button >
                      <mat-icon>print</mat-icon>
                    </button>
                    <button (click)="prepareOrder(element)" mat-icon-button color="green">
                      <mat-icon>check_circle</mat-icon>
                    </button></mat-cell>
                  </ng-container>
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="details(row)"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <!-- new Tap -->
  <mat-tab label="Despachados">
      <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
          <mat-card>
            <mat-card-content>
              <mat-card-title>Pedidos despachados</mat-card-title>
              <div class=" p-10 p-r-20 p-l-20">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca tu pedido despachado">
                </mat-form-field>
              </div>
              
              <div class="responsive-table">
                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="orderId">
                      <mat-header-cell *matHeaderCellDef> # de pedido </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.orderId}} </mat-cell>
                    </ng-container>
        

                    <ng-container matColumnDef="deliverMode">
                      <mat-header-cell *matHeaderCellDef> Modo </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.deliverMode}} </mat-cell>
                    </ng-container>
        

                    <ng-container matColumnDef="timestamp">
                      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.timestamp.toDate() | date: 'short'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                      <mat-cell *matCellDef="let element"> 
                        <button mat-icon-button >
                        <mat-icon>print</mat-icon>
                      </button>
                      <button (click)="prepareOrder(element)" mat-icon-button color="green">
                        <mat-icon>check_circle</mat-icon>
                      </button></mat-cell>
                    </ng-container>
                  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="details(row)"></mat-row>
                </mat-table>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
</mat-tab-group>

