<button  mat-raised-button color="accent" class="example-icon" (click)="goToStatistics()" >Ver Estadísticas</button>

    
        <!-- left side menu -->
        <div style="display: flex;">
                <div style="width: 35%; height: 100%; " >
                    <mat-card >
                        <div class="p-20  position-relative">
                            <h4 class="card-title  m-0 font-20 font-medium">Clientes de WhatsApp</h4>
                        </div>
                        <div style="display: flex; justify-content: flex-end;"> 
                            <button  mat-raised-button color="accent" class="example-icon m-r-15" (click)="goToTags()"  >Agregar Tags</button>
                         </div>
                        <mat-tab-group  mat-align-tabs="center"> 
                                        <!-- Tab 1 -->
                            <mat-tab   label="Mis chats" >   
                               
                                <mat-selection-list  [multiple]="false">
                                            
                                    <mat-list-option *ngFor="let room of chatRooms; index as i" (click)="getMessagesFromRoomOnclick(room)">
                                        <mat-list-item>
                                            <span class="material-icons m-r-15 b-b">
                                                account_circle
                                            </span > {{room.roomName}} 
                                            <mat-chip-list  style="margin-left: auto;" >
                                                
                                                <mat-chip color="accent" class="chip" selected>Daniel</mat-chip>
                                            </mat-chip-list>

                                        </mat-list-item>
                                           

                                    </mat-list-option>

                                  </mat-selection-list>
                            </mat-tab> 
                        
                                <!-- End Tab 1 -->
                                <!-- Tab 2 -->
                
                                <mat-tab label="Todos los chats">
                                        <!-- ============================================================== -->
                                        <!-- column -->
                                        <!-- ============================================================== -->
                                        <mat-selection-list  [multiple]="false">
                                            
                                            <mat-list-option *ngFor="let room of chatRooms; index as i" (click)="getMessagesFromRoomOnclick(room)">
                                                <mat-list-item>
                                                    <span class="material-icons m-r-15 b-b">
                                                        account_circle
                                                    </span > {{room.roomName}} 
                                                    <mat-chip-list  style="margin-left: auto;" >
                                                
                                                        <mat-chip color="accent" class="chip" selected>Daniel</mat-chip>
                                                    </mat-chip-list>
                                                </mat-list-item>
                                                   

                                            </mat-list-option>
        
                                          </mat-selection-list>
                                        
                                </mat-tab>
                            </mat-tab-group>
                    </mat-card>
                </div>
                    <mat-card *ngIf="showRoomChats" style="height: auto; width: 65%;">
                        
                        <mat-toolbar  class="background-room" style=" background-color: #2C3B4D !important;">
                            <span class="toolbar-msg"  ># {{currentRoomData.name}}</span>
                            <span class="example-spacer"></span>
                            <button  mat-raised-button color="accent" class="example-icon" (click)="assignToMe()" >Asignarme el cliente</button>
                            <button mat-raised-button color="primary" class="example-icon m-l-10"  [matMenuTriggerFor]="animals">Tags</button>
                            <mat-menu  #animals="matMenu">
                              <button  *ngFor="let category of tagsCategoriesNames" (click)="getSpecificTags(category)"
                               mat-menu-item [matMenuTriggerFor]="categories">{{category.name}}</button>
                            </mat-menu>
                            
                            <mat-menu  #categories="matMenu">
                              <button *ngFor="let tag of tagsCategories" (click)="selected(tag,category)" mat-menu-item >{{tag.name}}</button>
                              
                            </mat-menu>
                            
                           
                            <!-- <button mat-icon-button [matMenuTriggerFor]="profile"  class="example-icon"  aria-label="Example icon-button with share icon">
                                <mat-icon>more_vert</mat-icon>
                            </button> -->
                            <!-- drop down menu of 3 dot button -->
                            <!-- <mat-menu #profile="matMenu" class="mymegamenu">
                                <button mat-menu-item (click)="moreMessages()">
                                    <mat-icon>hourglass_bottom</mat-icon> Cargar más mensajes 
                                </button>
                            </mat-menu> -->
                        </mat-toolbar>
                        <div  style=" padding-left: 15px;padding-top:10px ;" >
                            <mat-chip-list #chipList aria-label="Tags">
                                  
                                <mat-chip
                                  *ngFor="let tag of tagsFromConversation"
                                  [selectable]="selectable"
                                  [removable]="removable"
                                  (removed)="remove(tag)">
                                  {{tag.name}}
                                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                
                              </mat-chip-list>
                      </div>
                        <mat-card-content class="backgroun-img" id="content-messages" style="background-color: ghostwhite;max-height: 320px; min-height: 320px; overflow-y: auto;">
                           
                            <div class="chat"  *ngFor="let message of chatMessages" >
                                <div class="me"  *ngIf="userId == message.userId">          
                                    <span style="word-wrap: break-word;">{{message.message}} </span>     
                                    <p class="time-left">{{message.timestamp | date: 'short'}}</p> 
                                </div>
                                <div class="otherMessage"   *ngIf="userId !== message.userId">
                                    <span class="name"  >
                                        {{message.name}} {{message.lastname}}<p class="time-right" style="margin-left:10px;">{{message.timestamp | date: 'short'}}</p> 
                                    </span> <br>
                                    <span style="word-wrap: break-word;">{{message.message}}</span>   
                                </div>
                            </div>  
                        
                            <!-- if no messages show this card -->
                            <div *ngIf="chatMessages.length === 0">
                                <mat-card class="message-card">
                                    <mat-card-content>
                                        <p>
                                        Aún no hay mensajes en esta sala
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </mat-card-content>
                        <footer>
                            <mat-form-field style="background-color: white; border-top: gray; padding-left: 20px;">
                                <div style="display: flex;">
                                    <textarea matInput
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="9"
                                    [(ngModel)]="currentMessage" placeholder="Envía un mensaje" (keydown.enter)="sendMessage()"></textarea>
                                    
                                    <div class="example-button-container">
                                        <button mat-mini-fab>
                                            <mat-icon *ngIf="showRoomChats" (click)="sendMessage()">send</mat-icon>
                                            <mat-icon *ngIf="showPrivateChats" (click)="sendPrivateMessage()">send</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-form-field>
                        </footer>
                    </mat-card>
            
                <!-- right side menu -->
                <mat-card *ngIf="showDetail" style="width: 20%;">
                    <div  > 
                        <h3 *ngIf="currentRoomData"><b>#{{currentRoomData.name}}</b></h3>
                        <div>
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>Descripción</mat-card-title>
                                    <mat-card-subtitle *ngIf="currentRoomData">{{currentRoomData.description}}</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </div>
                        <h5 *ngIf="currentRoomData">Participantes de <b>#{{currentRoomData.name}}</b></h5>
                        <div>
                            <mat-card>
                                <mat-card-content *ngFor="let participant of currentRoomParticipants">
                                    <p>
                                    {{participant.name}} {{participant.lastname}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div style="display: flex; justify-content: center;">
                        <button mat-raised-button color="warn" (click)="deleteChatRoom()" *ngIf="currentRoomData">Eliminar #{{currentRoomData.name}}</button>
                        </div>
                    </div>
                </mat-card>

               <!-- /*******************
            PRIVATE CHAT
            *******************/ -->    
            <mat-card *ngIf="showPrivateChats" style="height: auto; width: 65%;" >
                <mat-toolbar  class="background-room" style=" background-color: #2C3B4D !important;">
                    
                    <span class="toolbar-msg"  >{{currentPrivateChat.name}} {{currentPrivateChat.lastname}}</span>
                    
                  
                </mat-toolbar>
                <mat-card-content id="content-messages-private" style="max-height: 380px; min-height: 380px; overflow-y: auto;">
                    <div style="display: flex; justify-content: center;" >
                        <button (click)="morePrivateMessages()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                          <mat-icon>refresh</mat-icon>
                        </button>
                      </div>
                    <div class="chat"  *ngFor="let message of privateChats" >
                        <div class="me"  *ngIf="userId == message.userId">          
                            <span style="word-wrap: break-word;">
                                {{message.name}} {{message.lastname}} <br>
                                {{message.message}} </span>     
                            <p class="time-left">{{message.timestamp | date: 'short'}}</p> 
                        </div>
                        <div class="otherMessage"   *ngIf="userId !== message.userId">
                            <span class="name"  >
                                {{message.name}} {{message.lastname}}<p class="time-right" style="margin-left:10px;">{{message.timestamp | date: 'short'}}</p> 
                            </span> <br>
                            <span style="word-wrap: break-word;">{{message.message}}</span>   
   
                        </div>            
                    </div>  
                    <!-- if no messages show this card -->
                    <div *ngIf="privateChats.length === 0">
                        <mat-card class="message-card">
                            <mat-card-content>
                                <p>
                                Aún no hay mensajes en esta sala
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-card-content>
                <footer>
                    <mat-form-field style="background-color: white; border-top: gray;    padding-left: 20px;">
                        <div style="display: flex;">
                            <textarea matInput
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="9"
                            [(ngModel)]="currentMessage" placeholder="Envía un mensaje" (keydown.enter)="sendPrivateMessage()"></textarea>
                            
                            <div class="example-button-container">
                                <button mat-mini-fab>
                                    <mat-icon *ngIf="showRoomChats" (click)="sendMessage()">send</mat-icon>
                                    <mat-icon *ngIf="showPrivateChats" (click)="sendPrivateMessage()">send</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-form-field>
                </footer>
             </mat-card>
        </div>
           