<div *ngIf="!showBot">
  <h1>Tu empresa no tiene la opción de crear flujos de conversación automatizados con Octo-Bot</h1>
  <h3>Contáctanos a <a href="https://weareocto.web.app/front/pages/contact.html" target="_blank" style="color: #EF78A0">octo.colombia@gmail.com</a> para activar esta funcionalidad</h3>
</div>

<div *ngIf="showBot">
  <h1>Flujos de Conversación con Octo-Bot.</h1>
    
    <div 
      *ngIf="flow === null" 
      style="display: flex; flex-direction: column;">
      <span class="m-b-15">Aquí podrás crear un flujo de conversación que resolverá aquellas preguntas repetitivas.</span>
      <button 
        color="primary"
        mat-raised-button
        (click)="createFirstFlow()"
        >Crear primer mensaje del flujo
      </button>
    </div>
    <span class="m-b-15" *ngIf="flow">Aquí podrás crear un flujo de conversación que resolverá aquellas preguntas repetitivas.</span>
    <div *ngIf="flow" style="display: flex; flex-direction:column;" >
        <!-- OPTIONS CARD -->
        <mat-card  style="min-width:25%; max-width: 30%; height: 100%;" >
          <mat-icon *ngIf="listFlow.length > 1" aria-label="backbutton" (click)="goPreviousFlow()">arrow_back</mat-icon>
          <mat-chip-list  style="display: flex; justify-content: center;" >
            <mat-chip *ngIf="flow.options && !flow.main" class="chip" color="primary" selected>Opción - nivel {{counter}}</mat-chip>
            <mat-chip *ngIf="!flow.options && !flow.main" class="chip" color="accent" selected>Fin del flujo</mat-chip>
            <mat-chip  *ngIf="flow.main" style="background-color: #ffd480">Primer Mensaje del Bot </mat-chip>
          </mat-chip-list>
          <mat-card-header>
            <mat-card-title  *ngIf="!flow.main" style="font-size: 16px;">{{flow.shortMessage}}</mat-card-title>
            <!-- <mat-card-title  *ngIf="flow.main" style="font-size: 16px;">Primer Mensaje del Bot</mat-card-title> -->
            <mat-card-subtitle *ngIf="flow.main" tyle="font-size: 12px;"> Aquí saldrá el primer mensaje y opciones que verán tus clientes al comunicarse contigo</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p  class="font-12">
              <strong> Mensaje:  </strong>
                <button (click)="editMessage()" style="margin-left: auto;" mat-icon-button color="primary" aria-label="create option">
                  <mat-icon>create</mat-icon>
                </button>  
                <button 
                  (click)="deleteFlow()" 
                  style="margin-left: auto;" 
                  mat-icon-button 
                  color="primary" 
                  aria-label="create option"
                  matTooltip="Si eliminas el primer mensaje del flujo, los demás mensajes del flujo serán borrados también"
                  *ngIf="flow.main">
                  <mat-icon style="color:red">delete</mat-icon>
                </button>  
                <button 
                  (click)="deleteFlow()" 
                  style="margin-left: auto;" 
                  mat-icon-button 
                  color="primary" 
                  aria-label="create option"
                  *ngIf="!flow.main">
                  <mat-icon style="color:red">delete</mat-icon>
                </button> 
              <br> {{flow.message}}
            </p>
            <mat-divider *ngIf="!flow.options && !flow.main"></mat-divider>
            <div *ngIf="flow.agent === true" style="margin-top: 6px;">
              <p style="font-size: 12px;">Después de que este mensaje es mostrado, la conversación con tu cliente es enviada a Octo para que sea atendida por un agente de servicio al cliente</p>
            </div>
            <mat-divider *ngIf="!flow.options && !flow.main"></mat-divider>
            <div *ngIf="flow.mediaUrl" style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 6px;">
              <p style="font-size: 12px;">Este mensaje envía un archivo/imagen</p>
              <a mat-stroked-button style="height: 5%;" href="{{flow.mediaUrl}}" target="_blank">Ver Imagen</a>              
            </div>
            <mat-selection-list *ngIf="flow.options || flow.main" #option [multiple]="false">
              <div  mat-subheader>Opciones                                  
                <button style="margin-left: auto;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Mas">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu  #menu="matMenu">
                  <button (click)="createOption()" mat-menu-item>
                    <mat-icon  >add</mat-icon>
                    <span >Agregar</span>
                  </button>
                </mat-menu>
              </div>
              <mat-list-option  *ngFor="let o of flowOptions" [value]="o" (click)="seeOption(o)" >
                <mat-icon mat-list-icon>chevron_right </mat-icon>
                <span style=" font-size: 12px; ">{{o.message}}</span>
              </mat-list-option>
            </mat-selection-list>
            <mat-spinner *ngIf="showSpinner"></mat-spinner>
          </mat-card-content>     
        </mat-card>
        <mat-chip-list aria-label="options selection">
          <mat-chip 
            *ngFor="let o of listFlow" 
            [style.background-color]="o.shortMessage ? ((o.agent || o.mediaUrl) ? '#3747A0' : '#EF78A0') : '#ffd480'"
            >{{(o.shortMessage) ? o.shortMessage : 'Primer mensaje'}}
          </mat-chip>
        </mat-chip-list>
  </div>
</div>
