.general-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-admin1 {
    max-width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-admin2 {
    max-width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tooltip-red {
    background: #b71c1c;
}
