

<mat-card>
    <div class="p-20 bg-info position-relative">
        <div>
            <h4 class="card-title text-white m-0">Directorio</h4>
            <h6 class="card-subtitle text-white m-0 op-5">Estos son los contactos de los miembros de Tu empresa</h6>
        </div>
        <a class=" m-r-20" mat-raised-button color="warn" (click)="invitePeople()">Invitar a personas</a>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget" *ngFor="let empl of employees">
            <!-- Message -->
            <a >
                <div class="user-img">
                    <span class="material-icons m-r-15">account_circle</span>
                    <span class="profile-status online pull-right"></span> 
                </div>
                <div class="mail-contnet">
                    <h5>{{empl.name}} {{empl.lastname}}</h5> 
                    <span class="mail-desc">{{empl.email}} </span>
                </div>    

                <div class="example-button-container">
                    <button (click)="chat(empl)" mat-mini-fab  aria-label="Example icon button with a home icon">
                      <mat-icon>chat</mat-icon>
                    </button>
                </div>
            </a>
        </div>
    </div>
</mat-card>





