.position-relative {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}
.mail-desc{
    margin-left:5px;
}