<mat-card>
    <div class="p-20 bg-info position-relative">
        <div>
            <h4 class="card-title text-white m-0">Directorio</h4>
            <h6 class="card-subtitle text-white m-0 op-5">Estos son los contactos de los miembros de Tu empresa</h6>
        </div>
        <a class=" m-r-20" mat-raised-button color="warn" (click)="invitePeople()">Invitar a personas</a>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget" *ngFor="let empl of employees">
            <!-- Message -->
            <a>
                <div class="user-img">
                    <span class="material-icons m-r-15">account_circle</span>
                </div>
                <div class="mail-contnet">
                    <h5>{{empl.name}} {{empl.lastname}}</h5> 
                    <span class="mail-desc">{{empl.email}} </span>
                </div>    
                <div class="actions-container">
                    <button 
                        id="chat-button"             
                        (click)="chat(empl)" 
                        *ngIf="empl.userId !== user.userId"
                        mat-mini-fab  
                        aria-label="chat icon">
                      <mat-icon>chat</mat-icon>
                    </button>
                    <!-- <mat-slide-toggle 
                        [checked]="available" 
                        (change)="changeAvailability()"
                        *ngIf="empl.userId === user.userId"
                        >Estoy disponible
                    </mat-slide-toggle> -->
                    <div class="availability-visual">
                        <div *ngIf="empl.available" id="green-dot"></div>
                        <div *ngIf="!empl.available" id="red-dot"></div>
                        <p *ngIf="empl.available">Disponible</p>
                        <p *ngIf="!empl.available">No Disponible</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</mat-card>





