<div *ngIf="action === 'view'">
    <div mat-dialog-content>
        <mat-card>
            <mat-card-content>
                <mat-card-title>Crear Tarea</mat-card-title>
                <!-- ============================================================== -->
                <!-- column -->
                <!-- ============================================================== -->
                <form class="basic-form" [formGroup]="taskForm" (ngSubmit)="createAnnouncement()">
                    <div fxLayout="row wrap">
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <input formControlName="title" matInput placeholder="Título">
                            </mat-form-field>
                        </div>
                        <!-- column -->

                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <mat-form-field>
                                <textarea formControlName="details" cols="1" rows="10"  matInput placeholder="Cuerpo del anuncio"></textarea>
                            </mat-form-field>
                        </div>

                        <mat-form-field appearance="fill">
                            <mat-label>Fecha de entrega</mat-label>
                            <input matInput [matDatepicker]="picker1" formControlName="date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Asignar a</mat-label>
                            <mat-select formControlName="assigned">
                              <mat-option *ngFor="let e of employeesList" [value]="e.userId">{{e.name}} {{e.lastname}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- column -->
                        <div fxFlex.gt-sm="100" fxFlex="100">
                            <button mat-raised-button [disabled]="taskForm.invalid" color="primary" type="submit">Publicar</button>
                        </div>
                    </div>
                </form>
                
            </mat-card-content>
        </mat-card>

            
    </div>            
    
</div>


<div *ngIf="action === 'create'">
    <div mat-dialog-content>
        <div>
            <mat-form-field>
                <input type="text" placeholder="Título" matInput [(ngModel)]="local_data.title">
            </mat-form-field>
    
            <mat-form-field>
                <textarea cols="1" rows="10" placeholder="Cuerpo del Anuncio" matInput [(ngModel)]="local_data.body"></textarea>
            </mat-form-field>
        </div>
    </div>
            
        <!-- Buttons Footer -->
            
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cerrar</button>
        <button mat-button mat-flat-button color="accent" (click)="createAnnouncement()">Confirmar Anuncio</button>
    </div>
</div>
    