<div style="width: 800px; height: 700px;; overflow-y: auto;">
    <div *ngIf="showPlans && !showEmailConf">
        <!-- <h4>Saldo Actual: ${{currentCompanyBalance.balance | number : '1.2-2'}} USD</h4>
        <h4>Costo actual por mensaje enviado o recibido: ${{currentCompanyBalance.MFee}} USD</h4>
        <h4>Costo actual por mensaje tipo template enviado: ${{currentCompanyBalance.TFee}} USD</h4> -->
        <h4 *ngIf="currentCompanyBalance.notifications">Push Notifications disponibles: <span style="font-weight: bold;">{{currentCompanyBalance.notifications}}</span></h4>
        <h4>Api Key: <span style="font-weight: bold;">{{companyId}}</span></h4>
    </div>
    <mat-divider></mat-divider>
    <!-- <div *ngIf="showPlans && !showEmailConf">
        <h2>Escoge el plan</h2>
        <div *ngFor="let plan of plans">
            <mat-card class="plan-card">
                <mat-card-header>
                    <mat-card-title>{{plan.name}}</mat-card-title>
                    <mat-card-subtitle>Recarga mínima: ${{plan.minBalance}} USD</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="display: flex; flex-direction: row">
                    <div>
                        <p>Costo por mensaje enviado o recibido: <span style="font-weight: bold">{{plan.MFee}}</span></p>
                        <p>Costo por mensaje tipo template env: <span style="font-weight: bold">{{plan.TFee}}</span></p>
                    </div>
                    <button 
                        mat-raised-button 
                        color="basic" 
                        (click)="choosePlan(plan)" 
                        style="margin-left: 100px; margin-bottom: 20px;">Escoger</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div> -->
    <div *ngIf="!showPlans && !showEmailConf">
        <h3>Monto a recargar - Plan {{chosenPlan.name}}</h3>
        <div style="display: flex; flex-direction: column;">
            <mat-form-field style="width: 300px;">
                <div style="display: flex; flex-direction: row;">
                    <input matInput type="number" [(ngModel)]="amountToCharge">
                    <button mat-button *ngIf="amountToCharge !== 0.00" matSuffix mat-icon-button aria-label="Clear" (click)="amountToCharge=0.00">
                        <mat-icon>close</mat-icon>
                    </button>
                    <span style="font-weight: bold">USD</span>
                </div>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="sendPaymentLink()" style="width: 300px; margin: 25px;">Confirmar</button>
            <mat-spinner *ngIf="showSpinner"></mat-spinner>
            <h4 *ngIf="notMinAmt" style="color: red;">El monto mínimo a recargar para el plan {{chosenPlan.name}} es de: ${{chosenPlan.minBalance}}USD</h4>
        </div>
    </div>
    <div *ngIf="showEmailConf">
        <h3>En los próximos minutos te enviaremos un email con las instrucciones para realizar el pago</h3>
        <button mat-raised-button color="basic" (click)="onNoClick()" style="width: 300px; margin: 25px;">Cerrar</button>
    </div>
</div>
