.payment-input{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 15px;

    mat-form-field{
        margin-right: 10px;
    }

    button{
        max-height: 50px;
    }
}